// Components - Circle top - Style

@use '@style/color' as color
@use '@style/breakpoint' as breakpoint


.RingOut

	display: flex
	align-items: center
	justify-content: center
	width: 10rem
	height: 10rem
	border: 0.25rem solid color.$black
	border-radius: 100%

	@include breakpoint.media-up (m1)

		border: 0.2rem solid color.$white
		width: 10rem * 0.75
		height: 10rem * 0.75

	@include breakpoint.media-up (m2)

		border: 0.2rem solid color.$white
		width: 10rem * 0.75
		height: 10rem * 0.75

	.RingIn

		display: flex
		align-items: center
		justify-content: center
		width: 9rem
		height: 9rem
		border: 0.25rem solid color.$black
		border-radius: 100%

		@include breakpoint.media-up (m1)

			border: 0.2rem solid color.$black
			width: 9rem * 0.75
			height: 9rem * 0.75

		@include breakpoint.media-up (m2)

			border: 0.2rem solid color.$black
			width: 9rem * 0.75
			height: 9rem * 0.75

		.Picture

			width: 100%
			height: 100%
			border-radius: 100%