/* Application root's styles file */

body {

  margin: 0;
  background-color: #080808;

}

#root {

  transform: scale(0.5);
  transform-origin: 0 0;
  width: '200%';
  height: '200%';

  margin: 0 auto;
  background-color: #080808;

}