# Папки и файлы IDE:

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



# Лендинг:

# Логи:

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Остальное:

node_modules
dist
dist-ssr
build
build-ssr
*.local



# Приложение для Android:

# Различное:

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Intellij:

*.iml
*.ipr
*.iws
.idea/

# Flutter / Dart / Pub:

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Символизация:

app.*.symbols

# Обфускация:

app.*.map.json

# Android Studio:

/android/app/debug
/android/app/profile
/android/app/release