// Components - Bubble top - Style

@use '@styles/colors' as colors
@use '@styles/breakpoints' as breakpoints


.RingOut

	display: flex
	align-items: center
	justify-content: center
	width: 10rem
	height: 10rem
	border: 0.25rem solid colors.$black
	border-radius: 100%
	-webkit-user-select: none
	-ms-user-select: none
	user-select: none

	@include breakpoints.media-up (m1)

		border: 0.2rem solid colors.$white
		width: 10rem * 0.75
		height: 10rem * 0.75

	@include breakpoints.media-up (m2)

		border: 0.2rem solid colors.$white
		width: 10rem * 0.75
		height: 10rem * 0.75

	.RingIn

		display: flex
		align-items: center
		justify-content: center
		width: 9rem
		height: 9rem
		border: 0.25rem solid colors.$black
		border-radius: 100%

		@include breakpoints.media-up (m1)

			border: 0.2rem solid colors.$black
			width: 9rem * 0.75
			height: 9rem * 0.75

		@include breakpoints.media-up (m2)

			border: 0.2rem solid colors.$black
			width: 9rem * 0.75
			height: 9rem * 0.75

		.Picture

			width: 100%
			height: 100%
			border-radius: 100%