// App - Style

@use '@style/colors' as colors
@use '@style/breakpoints' as breakpoints


.Top

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 1.25rem

	@include breakpoints.media-up (m1)

		gap: 1.25rem * 0.66

	@include breakpoints.media-up (m2)

		gap: 1.25rem * 0.66

.Idea

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoints.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoints.media-up (m2)

		gap: 2.59375rem * 0.7

.Plan

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoints.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoints.media-up (m2)

		gap: 2.59375rem * 0.7

	.Scrolls

		display: flex
		flex-direction: row
		max-width: calc(100% - 3.125rem)
		gap: 0.625rem
		overflow-x: scroll

		@include breakpoints.media-up (m1)

			gap: 0.625rem * 0.5

		@include breakpoints.media-up (m2)

			gap: 0.625rem * 0.5

.YouHelp

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoints.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoints.media-up (m2)

		gap: 2.59375rem * 0.7

.Bottom

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 5.1875rem