// Components - Description - Style

@use '@style/colors' as colors
@use '@style/breakpoints' as breakpoints


.Text

	color: colors.$white
	font-family: system-ui
	font-weight: light
	font-size: 2rem
	text-align: center
	white-space: pre-line
	max-width: calc(100% - 1rem)

	@include breakpoints.media-up (m1)

		font-size: 2rem * 0.66

	@include breakpoints.media-up (m2)

		font-size: 2rem * 0.66