// Components - Title - Style

@use '@style/colors' as colors
@use '@style/breakpoints' as breakpoints


.Title

	text-align: center
	font-family: Baskervville
	font-weight: bold
	font-size: 3rem
	color: colors.$white

	@include breakpoints.media-up (m1)

		font-size: 3rem * 0.7

	@include breakpoints.media-up (m2)

		font-size: 3rem * 0.7