// Application root's styles file

@use '@style/colors' as colors


body

	margin: 0
	background-color: colors.$dark_3
	overflow-x: hidden

#root

	margin: 0
	background-color: colors.$dark_3

::selection

	background-color: colors.$blueMint
	color: colors.$white

::-moz-selection

	background-color: colors.$blueMint
	color: colors.$white