// Application root's styles file

@use '@style/colors' as colors


body

	margin: 0
	background-color: colors.$dark_3
	overflow-x: hidden

#root

	margin: 0
	background-color: colors.$dark_3

::selection

	background-color: #6c7cb9
	color: #f2f2f2

::-moz-selection

	background-color: #6c7cb9
	color: #f2f2f2