// Components - Title - Style

@use '@style/color' as color
@use '@style/breakpoint' as breakpoint


.Title

	text-align: center
	font-family: Baskervville
	font-weight: bold
	font-size: 3rem
	color: color.$white

	@include breakpoint.media-up (m1)

		font-size: 3rem * 0.7

	@include breakpoint.media-up (m2)

		font-size: 3rem * 0.7