// App - Style

@use '@style/color' as color
@use '@style/breakpoint' as breakpoint


.Top

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 1.25rem

	@include breakpoint.media-up (m1)

		gap: 1.25rem * 0.66

	@include breakpoint.media-up (m2)

		gap: 1.25rem * 0.66

.Section_1

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoint.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoint.media-up (m2)

		gap: 2.59375rem * 0.7

.Section_2

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoint.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoint.media-up (m2)

		gap: 2.59375rem * 0.7

	.Scrolls

		display: flex
		flex-direction: row
		max-width: calc(100% - 3.125rem)
		gap: 0.625rem
		overflow-x: scroll

		@include breakpoint.media-up (m1)

			gap: 0.625rem * 0.5

		@include breakpoint.media-up (m2)

			gap: 0.625rem * 0.5

.Section_3

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 2.59375rem

	@include breakpoint.media-up (m1)

		gap: 2.59375rem * 0.7

	@include breakpoint.media-up (m2)

		gap: 2.59375rem * 0.7

.Bottom

	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	gap: 5.1875rem