// Components - End - Style

@use '@style/breakpoints' as b


.Text

	color: #f2f2f2
	font-family: system-ui
	font-weight: light
	font-size: 2rem
	text-align: center
	white-space: pre-line

	@include b.media-up (m1)

		font-size: 2rem * 0.66